# base setup ----------------------------------------------

BasedOnStyle: LLVM


# classes -------------------------------------------------

AccessModifierOffset: -4
AllowAllConstructorInitializersOnNextLine: false


# comments ------------------------------------------------
AlignTrailingComments: true


# functions -----------------------------------------------

# declaration
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AlwaysBreakAfterReturnType: None
BinPackParameters: false

# calling
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: true
BinPackArguments: false

# if ------------------------------------------------------

AllowShortIfStatementsOnASingleLine: Never


# loops ---------------------------------------------------

AllowShortBlocksOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# macros --------------------------------------------------

AlignConsecutiveMacros: false
AlignEscapedNewlines: Right
BreakBeforeBinaryOperators: NonAssignment


# operators -----------------------------------------------

AlignConsecutiveAssignments: false
AlignOperands: true


# templates -----------------------------------------------

AlwaysBreakTemplateDeclarations: Yes

# strings -------------------------------------------------

AlwaysBreakBeforeMultilineStrings: false

# switch --------------------------------------------------

AllowShortCaseLabelsOnASingleLine: true


# variables -----------------------------------------------

AlignConsecutiveDeclarations: false


# other ---------------------------------------------------

BreakBeforeBraces: Allman

# old

Language: Cpp








ColumnLimit: 120
ContinuationIndentWidth: 8
DerivePointerAlignment: false
IndentWidth: 4
PointerAlignment: Left
ReflowComments: true
MaxEmptyLinesToKeep: 2
BreakConstructorInitializersBeforeComma: true
SpaceBeforeParens: ControlStatements
SortIncludes: true
Standard: Cpp11
