# base setup ----------------------------------------------

BasedOnStyle: LLVM
ColumnLimit: 120


# classes -------------------------------------------------

AccessModifierOffset: -4
AllowAllConstructorInitializersOnNextLine: false
BreakConstructorInitializersBeforeComma: BeforeComma
BreakInheritanceList: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4

# comments ------------------------------------------------

AlignTrailingComments: true


# functions -----------------------------------------------

# declaration
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AlwaysBreakAfterReturnType: None
BinPackParameters: false


# calling
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: true
BinPackArguments: false


# if ------------------------------------------------------

AllowShortIfStatementsOnASingleLine: Never


# loops ---------------------------------------------------

AllowShortBlocksOnASingleLine: false
AllowShortLoopsOnASingleLine: false


# macros --------------------------------------------------

AlignConsecutiveMacros: false
AlignEscapedNewlines: Right
BreakBeforeBinaryOperators: NonAssignment


# namespaces ----------------------------------------------

CompactNamespaces: false

# operators -----------------------------------------------

AlignConsecutiveAssignments: false
AlignOperands: true
BreakBeforeTernaryOperators: true


# templates -----------------------------------------------

AlwaysBreakTemplateDeclarations: Yes

# strings -------------------------------------------------

AlwaysBreakBeforeMultilineStrings: false
BreakStringLiterals: true


# switch --------------------------------------------------

AllowShortCaseLabelsOnASingleLine: true


# variables -----------------------------------------------

AlignConsecutiveDeclarations: false


# other ---------------------------------------------------

BreakBeforeBraces: Allman
ContinuationIndentWidth: 8
Cpp11BracedListStyle: true


# undefined -----------------------------------------------

# CommentPragmas

# old

Language: Cpp










DerivePointerAlignment: false
IndentWidth: 4
PointerAlignment: Left
ReflowComments: true
MaxEmptyLinesToKeep: 2
SpaceBeforeParens: ControlStatements
SortIncludes: true
Standard: Cpp11
